<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="我是SomeBottle.英文昵称源于以前我喜欢收集瓶子的习惯，先前名字是Sam..后来觉得太土了，就自己取了个SomeBottle.# 捐款小站的发展需要持续的动力！点我前往# MOTTOStay hungry, stay foolish.# 个人博客对我来说是什么展开查看个人博客对我来说是分享想法，记录生活的一个有温度的地方。很喜欢博主7gugu的一句话：现在太多学CS的,仅仅是把Blog变成..." />

<meta name="keywords" content=",Bottle小站" />
</head>
<loadingarea></loadingarea>
<div id='container'>
<style>
        #container {
            opacity: 0;
            word-wrap: break-word;
            word-break: break-all;
            max-width: 50%;
            overflow: hidden
        }
    </style>
{(MainTitle)}
<title>关于我-Bottle小站</title>
{(MainTitleEnd)}
<body>
{(PostTitle)}关于我{(PostTitleEnd)}
{(PostDate)}aboutme{(PostDateEnd)}
{(PostContent)} &lt;div id=&quot;pc&quot; style=&quot;max-width:500px;&quot;&gt;&lt;img style=&quot;width:100%;max-width:500px;height:auto;&quot; src=&quot;https://cdn2.imbottle.com/avatar20200727.png&quot;&gt;&lt;/div&gt;
&lt;script src=&quot;https://cdn.jsdelivr.net/gh/SomeBottle/N.js@latest/N.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;https://cdn.jsdelivr.net/gh/BottleSome/blog@latest/danmaku/aboutdm.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;/*try{cleartime();}catch(e){}*/&lt;/script&gt;
&lt;div id=&quot;aplayer&quot;&gt;&lt;/div&gt;  

我是SomeBottle.

英文昵称源于以前我喜欢收集瓶子的习惯，先前名字是Sam..后来觉得太土了，

就自己取了个SomeBottle.  

* * *

### 捐款  
* 小站的发展需要持续的动力！  
[点我前往](aboutme-donate.html)   

### MOTTO  

Stay hungry, stay foolish.  

### 个人博客对我来说是什么  

&lt;details&gt;
&lt;summary&gt;展开查看&lt;/summary&gt;


个人博客对我来说是分享想法，记录生活的一个有温度的地方。很喜欢博主**7gugu**的一句话：  

&gt; 现在太多学CS的,仅仅是把Blog变成了一个笔记本,对于一个Blog来说,这太过冷冰冰的了。有一些个人的色彩,生活片段的记录,可能才会是一个有意思的Blog。  

我也尽量会把博客打造成一个有趣的地方。怎么变得有趣呢？照片，视频，音乐，表情包，动图，...这些便是我的解答。对于相对来说不那么有趣的小篇学习笔记，我决定集中发在[我的博客园](https://www.cnblogs.com/somebottle/)上，也请各位多加指教ヾ(≧∇≦*)。  

![Pleased2MeetU](https://cdn2.imbottle.com/aboutme/pleased2meetu.jpg)   

&lt;/details&gt;


### 技能&amp;兴趣

&lt;details&gt;
&lt;summary&gt;展开探索&lt;/summary&gt;


制作Minecraft短片、做一些粗糙的动画（flash&amp;amp;animate），写写BUG百出的程序和小游戏...   

有幸掌握了PHP, JavaScript, C/C++, Python的字面单词拼写 (ノへ￣、)  

目前咱最自豪的Minecraft短片作品——**两肋插剑** (图片可点击)：  

&lt;a href=&quot;https://www.bilibili.com/video/BV1UM4y1V7k5?spm_id_from=333.999.0.0&quot; target=&quot;_blank&quot;&gt;![cover](https://images.weserv.nl/?url=https://i1.hdslb.com/bfs/archive/8a540bae735a9ab08eb3180396291ea19a778fde.jpg&amp;amp;w=200&amp;amp;h=120)&lt;/a&gt;  

* 曾经对flash游戏制作很感兴趣，但由于当下flash player不太受待见，目前主要用flash后代Animate研究和制作一些小动画（不过到时候要好好打一下美术基础）  

* 平常喜欢逛逛b站..与常人没有两样~  

* 动画爱好者一枚（真的主要是看动画哦，不算很浓的二刺螈吧），每季度都会**追很多新番**，时不时补点老番。会去**研究幕后的制作STAFF**，三流作豚一枚 o(*≧▽≦)ツ  

* 网易云音乐用户一枚，因为很喜欢归纳，整理了[好几个歌单](https://music.163.com/#/user/home?id=129461776)，然鹅并没有人听o(￣ヘ￣o＃)  

* 日常玩的游戏...好似只有**Minecraft**了..以前还玩PVZ的.. (°ー°〃)  

* 会**尽力**去把手上的事情做好。  

* 一旦对什么事物感兴趣就一发不可收拾了，2021年开始尤其喜欢在博客写学习笔记。  

* 外表严肃（其实是有点内向），内心世界丰富（自认为）

* 无糖碳酸饮料派🥤

* * *

&lt;/details&gt;

### 这个小站是什么程序？

以前是Wordpress，但随着文章越来越多变得越来越繁重...于是干脆自己写了**三**个破程序。

该博客自豪地采用[-O-](https://github.com/SomeBottle/-O-).  
（N个月前其实还在用OBottle,N+1年前还在用BottleBlog）

PS:这个页面头图的弹幕引擎是自己写的N.js，很垃圾的写法..望大佬包容.  

**本博客当前主题是[Simple](https://github.com/SomeBottle/-O-Simple)，有参考[leyafo](https://www.leyafo.com/)，个人水平不精湛，请多包涵~**  
  

* * *

### 小站历程

&lt;details&gt;
&lt;summary&gt;展开查看&lt;/summary&gt;

#### 2015.7.19

在厌倦了用凡科建站后，我上搜索引擎开始搜索免费博客网站。（那个时候很喜欢低成本的东西，好吧现在也是这样）

#### 2015.7.20

![](https://cdn2.imbottle.com/uploads/smms/lofter.png)  

我遇见了Lofter，其简洁的界面让我一见钟情，但很快，由于进入单页有讨厌的弹窗，我放弃了Lofter.

#### 2015.7.22

![](https://cdn2.imbottle.com/uploads/smms/farbox.png)  

我遇见了Farbox，这实在是符合我的理念，简洁而又不失调..于是我在Farbox上建立了我的小站.

#### 2015.8

由于不习惯Farbox的操作，我开始尝试利用wp这种开源博客搭建小站。

我在搜索引擎找到了Minecraft圈内提供虚拟主机的一家——MCFUN（目前似乎已经销声匿迹）

于是这个博客的第一篇文章——This is my blog出现了！（2015.8.23）

#### 2016年首

MCFUN不再稳定，我于是撤掉了小站，转移其他阵地。很快我便找到了

WorldMC论坛的创始人夜空，并由其为我提供免费基于日本conoha的虚机...

#### 2016.8

真是波澜不平啊！夜空的conoha机子多次遭到攻击，由此

不得不关停。。我又开始奔赴上路，这个时候我已经学了点知识，会自己搭建网站服务器了。

于是我去了Budgetvm，搞了台美国机继续开下去。

#### 2017.7

在网友极度的促使下，我找到了国内的Cubecloud，并搞了台CN2美国机。

但由于后来客服态度不好，SSD盘也小，最终还是背上了行李走上Budgetvm.

#### 2017.12.23

Worldmc论坛坛主夜空又找到我，向我推荐了Hostdare.我总算是找到一家便宜实惠的

了。这家没有CN2，但在夜空大佬的帮助下，网站端口速度提高了很多。

#### 2018.3.24

躺在床上的我想到了pppploi8大佬的博客托管在github上是如此之快，

而自己的wp已经由于文章偏多而寒蝉不已...于是我在想

“有没有什么在美国机子上都能运行的快，备份也方便的程序”。

于是作为PHP新手的我在周六动工了，直至2018.4.5，我将

自己网站换成了BottleBlog，用上了自己的程序！...

#### 2018.7.25

我换了另一家高性价比的服务商——Hostker，强力推荐！

#### 2019.7

在Hostker待了一年，我也要进入高三了，于是打着包袱把博客转移到了
Github，静态万岁！(另外写了个静态博客生成器)   

#### 2020.12.29  

冬至，天寒，宜维护。今天通过Vercel自动抓取Github仓库部署提高了博客速度！  

#### 2021.10.26  

为了追求稳定，我终究还是选择了**Github Pages + Cloudflare**的套餐ε=ε=ε=┏(゜ロ゜;)┛  

#### 2022.2.17

换回Vercel托管（老折腾了哈）

&lt;/details&gt;

------------------------------------
### 感言

迄今为止..这个无名小站已经在香港、日本、韩国、美国机子上运行了**六年**多。

虽然访客量不大，但每每在这里记下我的生活点滴亦或学习笔记，我总是十分开心。

现在向回看，我仍然是十分感动。这几年来是有那么多热情网友资助着我：

没有资金的时候是网友在帮我，遇到困难的时候，还是有好友乃至亲人来帮助我。

SomeBottle的小站之所以能运行这么久，真的多亏了大家的支持！

那么在接下来的日子里，大家一起，继续加油ヾ(◍°∇°◍)ﾉﾞ.

谢谢你们。

* * *

### 在哪找到我   

b站空间：[https://space.bilibili.com/13482355](https://space.bilibili.com/13482355)   

Github：[https://github.com/SomeBottle](https://github.com/SomeBottle)  

博客园：[https://www.cnblogs.com/somebottle/](https://www.cnblogs.com/somebottle/)  （主要是学习笔记）   

V2EX：[https://www.v2ex.com/member/SomeBottle](https://www.v2ex.com/member/SomeBottle)     

Twitter：[https://twitter.com/WangBottle](https://twitter.com/WangBottle)     

QQ邮箱：somebottle[at]qq.com   

&lt;script&gt;/*
        const ap = new APlayer({
            container: document.getElementById(&#039;aplayer&#039;),
            lrcType:3,
            audio: [{
                name: &#039;うっせぇわ (Giga Remix)&#039;,
                artist: &#039;Ado / ギガP&#039;,
                url: &#039; https://x.bottle.moe/ne/url/1817947370&#039;,
                cover: &#039;https://x.bottle.moe/ne/cover/1817947370&#039;,
                lrc: &#039;https://x.bottle.moe/ne/lrc/1817947370&#039;
            }]
        });
*/&lt;/script&gt; {(PostContentEnd)}
{(PostTag)}{(PostTagEnd)}
{(PostID)}3{(PostIDEnd)}
{(PostCover)}none{(PostCoverEnd)}
{(PubTime)}1645117638233{(PubTimeEnd)}
{(EditTime)}1645117638233{(EditTimeEnd)}
<div style='display:none;'>{(PageType)}post.otp.html{(PageTypeEnd)}</div>
<script src="./barn/main.js"></script>
</body>
</div>