<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1"><!--description--><meta name="description" content="我一直在用比较低廉的机子。希望你能出一份力，让我能有个更好用的服务器或者搞一碗泡面吃~另外如果不希望匿名，可以在捐助的时候备注一下~爱发电！https://afdian.net/@s..." /><!--Keywords--><meta name="keywords" content=",Bottle小站" /></head><loadingarea></loadingarea><div id='container'><style>#container{opacity:0;word-wrap:break-word;word-break:break-all;max-width:50%;overflow:hidden}</style>
{(MainTitle)}<title>关于-赞助-Bottle小站</title>{(MainTitleEnd)}<body>{(PostTitle)}关于-赞助{(PostTitleEnd)}{(PostDate)}aboutme-donate{(PostDateEnd)}{(PostContent)}## 我一直在用比较低廉的机子。  
  希望你能出一份力，让我能有个更好用的服务器或者搞一碗泡面吃~  
  另外如果不希望匿名，可以在捐助的时候备注一下~  
* 爱发电！  
  &lt;a href=&quot;https://afdian.net/@somebottle&quot; target=&quot;_blank&quot;&gt;https://afdian.net/@somebottle&lt;/a&gt;  

* 微信&amp;amp;支付宝  

![wechat and alipay](https://cdn2.imbottle.com/donatepage/donateqrcode.png)  

----------------------------
### 记录  
感谢大家的支持！  

| **日期**    | **数额** | **Sponsor**          | **Platform** | **留言** |
|:---------:|:------:|:--------------------:|:------------:|:------------:|
| 2020.5.22 | 15￥    | 匿名朋友n*e              | 微信收款         |  |
| 2020.2.10 | 25￥    | 匿名朋友                 | 微信收款         |  |
| 2020.2    | 10￥    | BigGaySheep,OMG,匿名朋友 | 爱发电          |  |
| 2021.2.1  | 18.88￥ | 甘小蔗                  | 支付宝          |  |
| 2021.4.2  | 1.66￥  | 匿名，来自MCSounds        | 微信           |  |
| 2021.7.27 | 3￥     | 匿名                   | 微信           |  |
| 2021.8.6  | 1￥     | 俊东                   | 支付宝          |  |
| 2021.8.23 | 5￥     | The_DHX大黄小           | 微信           |  |
| 2021.9.18 | 3￥     | ansha                | 支付宝          |  |
| 2021.10.18 | 1.66￥     | czl               | 支付宝          | Naluhodo! |{(PostContentEnd)}{(PostTag)}{(PostTagEnd)}{(PostID)}217{(PostIDEnd)}{(PostCover)}none{(PostCoverEnd)}<div style='display:none;'>{(PageType)}post.otp.html{(PageTypeEnd)}</div><script src="./barn/main.js?233"></script></body></div>
