<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="" />

<meta name="keywords" content="Bottle小站" />
</head>
<loadingarea></loadingarea>
<div id='container'>
<style>
        #container {
            opacity: 0;
            word-wrap: break-word;
            word-break: break-all;
            max-width: 50%;
            overflow: hidden
        }
    </style>
{(MainTitle)}
<title>Bottle小站</title>
{(MainTitleEnd)}
<body>
{(PostTitle)}{(PostTitleEnd)}
{(PostDate)}{[date]}{(PostDateEnd)}
{(PostContent)} 
&lt;div class=&quot;postitem&quot;&gt;
    &lt;a href=&quot;bottle-281.html&quot;&gt;暑日至寒天，掠过大二上&lt;/a&gt;
    &lt;small&gt;2022-02-17&lt;/small&gt;
&lt;/div&gt;

&lt;div class=&quot;postitem&quot;&gt;
    &lt;a href=&quot;post-280.html&quot;&gt;Python正则表达式细节小记&lt;/a&gt;
    &lt;small&gt;2021-11-05&lt;/small&gt;
&lt;/div&gt;

&lt;div class=&quot;postitem&quot;&gt;
    &lt;a href=&quot;post-276.html&quot;&gt;【动画解释】关系数据库de关系代数小记&lt;/a&gt;
    &lt;small&gt;2021-10-18&lt;/small&gt;
&lt;/div&gt;

&lt;div class=&quot;postitem&quot;&gt;
    &lt;a href=&quot;post-275.html&quot;&gt;大物实验有效数字与测量值小记&lt;/a&gt;
    &lt;small&gt;2021-09-22&lt;/small&gt;
&lt;/div&gt;

&lt;div class=&quot;postitem&quot;&gt;
    &lt;a href=&quot;post-274.html&quot;&gt;JS小记：闭...闭包？&lt;/a&gt;
    &lt;small&gt;2021-09-12&lt;/small&gt;
&lt;/div&gt;

&lt;div class=&quot;postitem&quot;&gt;
    &lt;a href=&quot;post-273.html&quot;&gt;青岛&amp;威海小游流水账&lt;/a&gt;
    &lt;small&gt;2021-08-31&lt;/small&gt;
&lt;/div&gt;

&lt;div class=&quot;postitem&quot;&gt;
    &lt;a href=&quot;post-272.html&quot;&gt;简掠大一下学期生活&lt;/a&gt;
    &lt;small&gt;2021-08-25&lt;/small&gt;
&lt;/div&gt;
 {(PostContentEnd)}
{(PostTag)}{[tags]}{(PostTagEnd)}
{(PostID)}{[pid]}{(PostIDEnd)}
{(PostCover)}{[cover]}{(PostCoverEnd)}
{(PubTime)}{[pubtime]}{(PubTimeEnd)}
{(EditTime)}{[edittime]}{(EditTimeEnd)}
<div style='display:none;'>{(PageType)}postlist.otp.html{(PageTypeEnd)}</div>
<script src="./barn/main.js"></script>
</body>
</div>